#footer{
    background-color:#4D8C7A;
    height: 20vh;
}

#copyright{
    text-align: center;
    color: white;
    font-style: italic;
}

#footer-link{
    display: block;
    gap: 20 px;
}

.footer-link ion-icon{
    color: white;
    font-size: 30px;
    text-decoration: none;
    
}

#UTSelva{
    width: 160px;
}

.navbar-nav .registro .nav-link:hover {
    background-color: #111d1b; 
    color: white;              
}

.nav-link:hover{
    color:white;
    border: 1px;
    border-radius: 10px;
}

.navbar{
    background-color: #00c3a5;
}


.navbar-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

 .registro {
    position: absolute;
    right: 0;
    border-radius: 14px;
    border: 0.5px solid black;
    padding: 3px 3px;
    transition: background-color 0.3s, color 0.3s; 
    color: #00c3a5; 

}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #00c3a5;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 100px;
  display: none;
  z-index: 1000;
  border-radius: 8px 8px 8px 8px;
}

.dropdown-menu li a {
  display: block;
  padding: 6px;
  color: white;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #e6e9e8;
  color: black;
}

.dropdown:hover .dropdown-menu {
  display: block;
}