<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ServiFinder</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
        <!-- Iconos -->
        <link href="../bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Hoja de Estillos -->
        <link href="../bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="index.html"><img src="../img/Logo.jpg" width="100px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Nosotros">Acerca de Nosotros</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ver opciones</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="PagPrincipal.html">Página princpal</a></li>
                                <li><hr class="dropdown-divider"/></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi bi-person"></i>
                            Registrarse/Iniciar sesión
                        </button>
                    </form>
                </div>
            </div>
        </nav>


        <!-- Aquí puede ir una imagen de presentación -->
        <header class="bg-dark py-5">
        <!--style="background-image: url(../img/different-professions-collage-photos-various-260nw-2501596199.webp); width: 100%;"-->
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">ServiFinder</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Un lugar para todas tus necesidades</p>
                </div>
            </div>
        </header>

        <!--Equipo minecraf-->
        <section class="py-3 py-md-5" id="Nosotros">
        <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5">
                <img class="img-fluid rounded" loading="lazy" src="../img/100_0254.JPG" alt="About 1">
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                <div class="col-12 col-xl-11">
                    <h2 class="mb-3">¿Quiénes somos?</h2>
                    <p class="lead fs-4 text-secondary mb-3">Somos un equipo de desarrolladores universitarios de la Universidad Tecnológica de la Selva</p>
                    <p class="mb-5">Además de desarrolladores, somos personas como usted, con la misma necesidad de buscar un mecánico, un eléctrico, un Doctor y no sabemos con quien acudir. Pues aquí está Servifinder para ayudarte con eso.</p>
                </div>
            </div>
        </div>
        </section>

        <!--Pie de página-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ServiFinder 2025</p></div>
        </footer>

        <!--JS-->
        <script src="../bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
        <!--JS-->
        <script src="../bootstrap-5.3.0/js/bootstrap.min.js"></script>
    </body>
</html>
