<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ServiFinder</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../img/icon.png" />
        <!-- Iconos -->
        <link href="../bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Hoja de Estillos -->
        <link href="../bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="index.html"><img src="../img/Logo.png" width="100px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </div>
        </nav>

        <br>

        <form>
          <div class="mb-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control w-50" name="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">No compartiremos su e-mail con nadie</div>
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="Contrasena">
                        <div class="mb-3 form-check">
                            <br>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Recuérdame por 30 dias</label>
                        </div>

                        <div class="row justify-content-around">
                            <div class="col-4"><a class="btn btn-outline-dark" href="PagPrincipal.html"><i class="bi bi-box-arrow-in-right"> Iniciar sesion</i></a></div>
                            <div class="col-4"><a class="btn btn-outline-dark" href="Reg.html"><i class="bi bi-door-open"> Registrarme</i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--Pie de página-->
        <footer class="py-5 bg-dark" style="position: fixed; bottom: 0; width: 100%;">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ServiFinder 2025</p></div>
        </footer>

        <!--JS-->
        <script src="../bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
        <!--JS-->
        <script src="../bootstrap-5.3.0/js/bootstrap.min.js"></script>
    </body>
</html>
