<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ServiFinder</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
        <!-- Iconos -->
        <link href="../bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Hoja de Estillos -->
        <link href="../bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5 justify-content-center">
                <a class="navbar-brand" href="index.html"><img src="../img/Logo.png" width="100px"></a>
            </div>
        </nav>

        <form>
          <div class="mb-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">

                        <!--Nombre-->
                        <br>
                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                        <input type="text" class="form-control w-50" name="Nombre" aria-describedby="emailHelp">

                        <!--F Nacimiento-->

                        <!--Sexo-->
                        <br>
                        <p>Seleccione su sexo</p>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="Hombre" name="Hombre" class="custom-control-input">
                          <label class="custom-control-label" for="Hombre">Hombre</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="Mujer" name="Mujer" class="custom-control-input">
                          <label class="custom-control-label" for="Mujer">Mujer</label>
                        </div>

                        <!--Direccion-->
                        <br>
                        <p>Escriba su direccion</p>
                        <input type="text" class="form-control w-50" name="Nombre" aria-describedby="emailHelp">

                        <!--FechaNac-->
                        
                        <!--Correo-->
                        <br>
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control w-50" name="Email" aria-describedby="emailHelp">

                        <!--Contrasena-->
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="Contrasena">
                        <br>
                        <div class="row justify-content-around">
                            <div class="col-4"><a class="btn btn-outline-dark" href="PagPrincipal.html"><i class="bi bi-person"> Registrarme</i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--JS-->
        <script src="../bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
        <!--JS-->
        <script src="../bootstrap-5.3.0/js/bootstrap.min.js"></script>
    </body>
</html>
