<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ServiFinder</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
        <!--link a Iconos de bootstrap-->
        <link href="../../bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
        <!--link a hoja de estilos-->
        <link href="../../bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="../PagPrincipal.html"><img src="../../img/Logo.png" width="100px"></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="../PagPrincipal.html">Página principal</a></li>
                        <li class="nav-item"><a class="nav-link active" href="AdmPanel.html">Página de administracion</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Agregar Profesionista-->
        <form>
        <center><legend>Agregar un profesionista</legend></center>
          <div class="mb-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">

                        <!--Nombre-->
                        <br>
                        <label for="exampleInputEmail1" class="form-label">Nombre del Doctor</label>
                        <input type="text" class="form-control w-50">

                        <!--Cedula-->
                        <br>
                        <label for="exampleInputEmail1" class="form-label">Cedula del Doctor</label>
                        <input type="text" class="form-control w-50">

                        <!--Profesion-->
                        <br>
                        <div class="form-group col-md-4">
                            <label for="inputState">Escoja la esepecialidad</label>
                            <select id="inputState" class="form-control">
                                <option selected>Cardiologo</option>
                                <option>Dermatologo</option>
                                <option>Ginecologo</option>
                                <option>Pediatra</option>
                                <option>Traumatologo</option>
                                <option>Neurologo</option>
                            </select>
                        </div>

                        <!--Sexo-->
                        <br>
                        <p>Seleccione su sexo</p>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="Hombre" name="Hombre" class="custom-control-input">
                          <label class="custom-control-label" for="Hombre">Hombre</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="Mujer" name="Mujer" class="custom-control-input">
                          <label class="custom-control-label" for="Mujer">Mujer</label>
                        </div>

                        <!--Direccion-->
                        <br>
                        <p>Escriba su direccion</p>
                        <input type="text" class="form-control w-50" name="Ubicacion">

                        <!--FechaNac-->
                        <br>
                        <p>Escriba su direccion</p>
                        <input type="text" class="form-control w-50" name="FechaNac">

                        <!--Descripcion-->
                        <br>
                        <p>Agregue una descripcion</p>
                        <input type="text" class="form-control w-50">

                        <!--Horarios-->
                        <br>
                        <p>Agregue Horarios:</p>
                        <input type="text" class="form-control w-50">

                        <!--Suba su imagen-->
                        <br>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="customFile">
                          <label class="custom-file-label" for="customFile">Suba la imagen del profesionista</label>
                        </div>

                        <!--Correo-->
                        <br>
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control w-50" name="Email" aria-describedby="emailHelp">

                        <!--Contrasena-->
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="Contrasena">
                        <br>
                        <div class="row justify-content-around">
                            <div class="col-5"><a class="btn btn-outline-dark" href="PagPrincipal.html"><i class="bi bi-person"> Agregar Doctor</i></a></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </form>

        <!--Ver profesionistas-->
        <form>
            <div class="container my-5">
                <h2 class="mb-4">Panel de Administración de Profesionistas</h2>
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi bi-search"></i>
                    Buscar Profesionistas
                </button>
                <div class="table-responsive">
                    <br>
                    <table class="table table-bordered table-hover align-middle text-center">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Cedula</th>
                                <th>Profesion</th>
                                <th>Dirección</th>
                                <th>Idiomas</th>
                                <th>Lenguas indígenas</th>
                                <th>Imagen</th>
                                <th>Sexo</th>
                                <th>Horario</th>
                                <th>Días Laborales</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>001</td>
                                <td>Fernando Adan</td>
                                <td>1234567</td>
                                <th>Ginecologo</th>
                                <td>Calle 123, Ciudad Salud</td>
                                <td>Español, Inglés</td>
                                <td>Náhuatl</td>
                                <td><img src="../../img/Doctores/Ginecologos/ginecologo1.jpeg" alt="Foto" width="60" class="rounded-circle"></td>
                                <td>Masculino</td>
                                <td>9:00 AM - 3:00 PM</td>
                                <td>Lun - Vie</td>
                                <td>
                                    <button class="btn btn-sm btn-warning mb-1"><i class="bi bi-pencil-square"></i></button>
                                    <button class="btn btn-sm btn-success mb-1"><i class="bi bi-filetype-pdf"></i></button>
                                    <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ServiFinder 2025</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="../bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../bootstrap-5.3.0/js/bootstrap.min.js"></script>
    </body>
</html>