<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ServiFinder</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../../img/favicon.ico" />
        <!--link a Iconos de bootstrap-->
        <link href="../../bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
        <!--link a hoja de estilos-->
        <link href="../../bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="../../views/PagPrincipal.html">ServiFinder</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="../../views/PagPrincipal.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../views/index.html">Sobre nosotros</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">Servicios medicos</a></li>
                                
                                <li><a class="dropdown-item" href="#!">Servicios generales</a></li>
                                
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi bi-search"></i>
                            Buscar Establecimientos
                        </button>
                    </form>
                </div>
            </div>
        </nav>


        <!-- Imagen de presentación-->
        <header class="bg-dark py-5" style="background-image: url(../img/Portada.jpeg);">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">ServiFinder</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Bienvenido a la sección de Establecimientos</p>
                </div>
            </div>
        </header>

        <!--Presetnación de los Establecimientos-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <!--Establecimiento 1-->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../../img/establecimiento1.jpeg" alt="Tecnico 1" style="height: 50%;" style="width: 100%;" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Centro De Salud Materno Infantil De Ocoyork</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    "Centro de gobierno dirigido especialmente a madres y niños"
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="Establecimiento1.html">Ver Establecimiento</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Establecimiento 2-->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../../img/establecimiento2.jpeg" alt="Imagen del establecimiento" style="height: 150px" style="width: 100%;" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Farmacia Guadalajara</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    "Farmacia con productos tanto medicos como comerciales, ademas de que cuenta con increibles descuentos"
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Establecimiento</a></div>
                            </div>
                        </div>
                    </div>

                    <!--Establecimiento 3-->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../../img/establecimiento3.jpeg" alt="Establecimiento 3" style="height: 150px;" style="width: 100%;"/>
                            <!--Detalles-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">IMSS</h5>
                                    <!--Calificaion-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Descripcion -->
                                    "Instituto de salud bastante conocido, gratuito y laico"
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Establecimiento</a></div>
                            </div>
                        </div>
                    </div>

                    <!--Establecimiento 4 -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../../img/establecimiento4.jpeg" alt="Tecnico 4" style="height: 150px" style="width: 100%;"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Optica Oftalum</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!--Detalles-->
                                   "Optica con un servicio increible y con grandes precios"
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Establecimiento</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ServiFinder 2025</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="../bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../bootstrap-5.3.0/js/bootstrap.min.js"></script>
    </body>
</html>