<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ServiFinder</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="../../bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="../PagPrincipal.html"><img src="../../img/Logo.png" width="100px"></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="../PagPrincipal.html">Página principal</a></li>
                </div>
            </div>
        </nav>


        <!-- Imagen de presentación-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">ServiFinder</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Un lugar para todas tus necedidades</p>
                </div>
            </div>
        </header>

        <!--Presetnación de los servicios que promocionamos-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">

                    <!--Pediatras-->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!--Imagen-->
                            <img class="card-img-top" src="../../img/Doctores/Pediatra.png" alt="Imagen de fontanero" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Pediatras</h5>
                                    <!-- Descripcion-->
                                    Se encarga de la atención médica de bebés, niños y adolescentes.
                                </div>
                            </div>
                            <!--Acciones-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="Pediatras.html">Ver pediatras</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- CARD: Ginecología y Obstetricia -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="../../img/Doctores/Ginecologia.jpeg" alt="Imagen de ginecóloga" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Ginecología y Obstetricia</h5>
                                    Especializada en la salud del aparato reproductor femenino y el embarazo.
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="Ginecologos.html">Ver ginecólogos</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- CARD: Cardiología -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="../../img/Doctores/Cardiologia.png" alt="Imagen de cardiólogo" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Cardiología</h5>
                                    Se enfoca en las enfermedades del corazón y del sistema circulatorio.
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="Cardiologos.html">Ver cardiólogos</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- CARD: Dermatología -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="../../img/Doctores/Dermatologia.png" alt="Imagen de dermatólogo" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Dermatología</h5>
                                    Trata las enfermedades de la piel, cabello y uñas.
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="Dermatologos.html">Ver dermatólogos</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- CARD: Neurología -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="../../img/Doctores/Neurologia.png" alt="Imagen de neurólogo" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Neurología</h5>
                                    Atiende trastornos del sistema nervioso, como epilepsia o Parkinson.
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="Neurologos.html">Ver neurólogos</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- CARD: Traumatología y Ortopedia -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="../../img/Doctores/Traumatologia.png" alt="Imagen de traumatólogo" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Traumatología y Ortopedia</h5>
                                    Se dedica a las lesiones del sistema músculo-esquelético (huesos, músculos, articulaciones).
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="Traumatologos.html">Ver traumatólogos</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ServiFinder 2025</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="../../bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../../bootstrap-5.3.0/js/bootstrap.min.js"></script>
    </body>
</html>