<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ServiFinder</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../../img/icon.png" />
        <!--link a Iconos de bootstrap-->
        <link href="../../bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
        <!--link a hoja de estilos-->
        <link href="../../bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="../PagPrincipal.html"><img src="../../img/Logo.png" width="100px"></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="../PagPrincipal.html">Página principal</a></li>
                        <li class="nav-item"><a class="nav-link active" href="PagProfesionistas.html">Página de profesionistas</a></li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi bi-search"></i>
                            Buscar Fontaneros
                        </button>
                    </form>
                </div>
            </div>
        </nav>


        <!-- Imagen de presentación-->
        <header class="bg-dark py-5" style="background-image: url(../img/Portada.jpeg);">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">ServiFinder</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Bienvenido a la sección de Fontaneros</p>
                </div>
            </div>
        </header>

        <!--Presetnación de los Fontaneros-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <!--Fontanero 1-->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../../img/Profesionistas/Fontaneros/fontanero1.jpeg" alt="Fontanero" style="height: 50%;" style="width: 100%;" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fernando Adan</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    "Soy un Fontanerito de 30 añitos"
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="Fontanero1.html">ver Perfil</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <!--FOnranero2-->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../../img/Profesionistas/Fontaneros/fontanero2.jpeg" alt="Imagen de fontanero" style="height: 50%;" style="width: 100%;" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Ramon Baldes</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    "Me gusta Fontanear"
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver perfil</a></div>
                            </div>
                        </div>
                    </div>

                    <!--Fontanero 3-->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../../img/Profesionistas/Fontaneros/fontanero3.jpg" alt="Jordy Fontanero" style="height: 50%;" style="width: 100%;"/>
                            <!--Detalles-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Jordy Joestar</h5>
                                    <!--Calificaion-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Descripcion -->
                                    "Puedo hacer de todo"
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver perfil</a></div>
                            </div>
                        </div>
                    </div>

                    <!--Fontanero 4 -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../../img/Profesionistas/Fontaneros/fontanero4.jpg" alt="Fontanero 4" style="height: 50%;" style="width: 100%;"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sultan Stragolvska</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!--Detalles-->
                                   "Soy un fontanero libre"
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver perfil</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ServiFinder 2025</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="../bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../bootstrap-5.3.0/js/bootstrap.min.js"></script>
    </body>
</html>